<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Zadanie Kalkulator Sonalake</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js" type="text/javascript"></script>
</head>

<body ng-app="calcApp">
<div class="container">
    <h1>Calculator</h1>
    <div ng-controller="calc" ng-cloak class="ng-cloak">
        <form id="calcForm">
            <table>
                <tr>
                    <th>
                        Country
                    </th>
                    <th>
                        Daily Wage
                    </th>
                    <th>
                        Monthly wage after tax in PLN
                    </th>
                </tr>
                <tr>
                    <td>
                        <select ng-model="selectedCountry">
                            <option ng-repeat="country in countries" value="{{country.code}}">{{country.name}}  ({{country.currencyCode}})</option>
                        </select>
                    </td>
                    <td>
                        <input ng-model="dailyWage" id="dailyWage" type="text" />
                    </td>
                    <td>
                        <input ng-model="calculatedMonthlyWage" id="monthlyWage" type="text" readonly />
                    </td>
                </tr>
            </table>
            <div class="error" style="color: red;">{{errorMessage}}</div>
            <p><input id="submit" type="submit" ng-click="calculate()" value="Submit" /> <input type="reset" ng-click="reset()" value="Reset" /></p>
        </form>
    </div>
</div>

<script>
    angular.module('calcApp', [])
      .controller('calc', function($scope, $http) {

            $scope.countries = [];
            $scope.dailyWage = "0.00";

            $scope.calculatedMonthlyWage = "";
            $scope.errorMessage = "";

            $http.get('/allowedCountries/').then(
                function(response) {
                    $scope.countries = response.data.allowedCountries;
                    $scope.selectedCountry = $scope.countries[0].code;
                 },
                 function(error) {
                    $scope.errorMessage = error.data.message;
                 })

            $scope.calculate = function() {
                var calculationRequest = {countryCode: $scope.selectedCountry, dailyWage: $scope.dailyWage}
                $http.post('/calculate', calculationRequest).then(
                function(response) {
                    $scope.errorMessage = "";
                    $scope.calculatedMonthlyWage = response.data.amount;
                 },
                 function(error) {
                    $scope.errorMessage = error.data.message;
                 })
            }

            $scope.reset = function() {
                $scope.selectedCountry = $scope.countries[0];
                $scope.dailyWage = "0.00";
                $scope.calculatedMonthlyWage = "";
            }


    });

</script>

</body>
</html>